<ion-view  view-title="{{Biblioteca.sigla}}">
	<ion-nav-bar class="bar-positive bar-azulUFC bar-azulUfc-shadow">
		<ion-nav-buttons side="left">
	    	<button ng-click="goBack()" class="button button-icon ion-android-arrow-back"></button>
	  	</ion-nav-buttons>
	</ion-nav-bar>
	
	<ion-content >
		

	<div class="has-header " style="z-index:1;">
		
		<img id="img-Biblio-Exibi" src="img/{{Biblioteca.sigla}}.png" style='background-color:#EEE;height:40vh;width:100%'>
		
		<a class="item-Biblio" ng-href="#/app/Biblioteca_GPS" >
			<div>
				<i class='mdi large mdi-map-marker'></i>
				<div id="Texto">{{Biblioteca.endereco}}</div>
			</div>
		</a>
	
		<div id="content-Tels">
			<i class='mdi mdi-phone'></i>
			<div  ng-repeat="BiblioTel in Tel">
				<a class="item-Biblio" href="tel:+55{{BiblioTel.num}}"><div >{{ConvertTel(BiblioTel.num)}}<br />{{BiblioTel.descr}}</div></a>
			</div>
		</div>
		
		<a class="item-Biblio" ng-href="mailto:{{Email}}">
			<div >
				<i class='mdi large mdi-email'></i>
				<div id="Texto">{{Email}}</div>
			</div>
		</a>
		
		<a class="item-Biblio" id="Hora">
			<div>
				<i class='mdi watch'></i>
				<div id="Texto">{{InfoHora}}<br/>{{Hora}}</div>
			</div>
		</a>
		
	</div>

	</ion-content>
</ion-view>
