<body>
	<ion-view view-title="Pesquisa">
		<ion-nav-bar class="bar-positive bar-azulUFC bar-azulUfc-shadow">
			<ion-nav-buttons side="left">
		    	<button menu-toggle="left" class="button button-icon icon mdi mdi-menu"></button>
		  	</ion-nav-buttons>
		  	<ion-nav-buttons side="right">
		  	      <button class="button button-icon icon mdi mdi-magnify button-size-busca" ng-click="showFilterBar()" ng-model="busca"> </button>
		  	</ion-nav-buttons>
	  	</ion-nav-bar>
		<ion-content class="has-header">
			<ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()">
    		</ion-refresher>
    		<div ng-show="busca.length < 3 || busca.length == 0" class="empty-screen">
	        	<img src="img/livrobusca.png">
	        	
	        </div>
	        <ion-list ng-show="busca.length >= 3">
	        	<ion-item ng-repeat="livro in livros | filter: busca" href="#/livroInfo/{{livro.id}}" >
	        		<div class="color-text">
		        		<p style="white-space: normal;"><strong>{{livro.nome_livro}}</strong></p>
		        		<p>{{livro.autor}}</p>
		        		<p>N. de chamada: {{livro.codigo}} ({{livro.local}})</p>
		        		<i class="mdi mdi-information" style="float: right; color: #999;"></i>
		        		<p>Tipo de obra: {{livro.obra}}</p>
		        	</div>	
	        	</ion-item>
	        </ion-list>
	        <div ng-show="livros.length == 0 && busca.length >= 3" class="empty-screen">
	        	<img src="img/pesquisarerro.png">
	        </div>
		</ion-content>
	</ion-view>
</body>