<ion-view view-title="Busca">
	<ion-nav-bar class="bar-positive">
		<ion-nav-buttons side="left">
	    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	  	</ion-nav-buttons>
  	</ion-nav-bar>
	<ion-content class="has-header">
		<form name="formLivros">
			<label class="item item-input">
	    		<input name="buscaLivro" type="text" placeholder="Buscar em FEACC" ng-model="busca">
	  		</label>
  		</form>
  		<div name="tableLivros" ng-show="formLivros.buscaLivro.$dirty && busca.length >= 3">
	  		<div class="row header">
	          <div class="col">{{titulo}}</div>
	        </div>
	        <div class="row" ng-repeat="livro in livros | filter: busca"> <!-- | limitTo:1 -->
	          <div class="col">{{livro.nome_livro}}</div>
	          <div class="col">{{livro.autor}}</div>
	          <div class="col">{{livro.ano}}</div>
	          <div class="col">{{livro.codigo}}</div>
	        </div>
        </div>
	</ion-content>
</ion-view>