<ion-view view-title="Home">
	<ion-nav-bar class="bar-positive bar-azulUFC">
		<ion-nav-buttons side="left">
	    	<button menu-toggle="left" class="button button-icon icon mdi mdi-menu"></button>
	  	</ion-nav-buttons>
	  	<ion-nav-buttons side="primary" >
	  		<a href="#/app/busca/true">
      			<button  class="button button-icon icon mdi mdi-magnify button-size-busca" ng-click="doSomething()"></button>
      		</a>
    	</ion-nav-buttons>
    	<ion-nav-buttons side="right">
      		<button  class="button button-icon icon mdi mdi-bell-outline button-size-busca" ></button>
    	</ion-nav-buttons>
  	</ion-nav-bar>
	<ion-content class="has-header">
			<div style="width:100%;margin-top:2vh">
				<div id="MenuTopo" style="padding:0;margin:0;background:#0066A5;height:6vh;">
					<button class="button-small button-Home" ng-click="PreviewBiblio()" style="float:left;"><i class="ion-chevron-left"></i></button>
					<button class="button-small button-Home" ng-click="NextBiblio()" style="float:right;"><i class="ion-chevron-right"></i></button>
					<div id="NomeBiblio" style="padding:1vh;width:72.8%;margin:auto;"><p style="text-align:center;color:#EEE;font-size:4vh;margin:0;">{{Biblioteca.sigla}}</p></div>
				</div>
				
				<a ng-href="#/app/Biblioteca">
				<div style="width:100%;margin:0;height:35vh;">
					<img id="imgBiblio" src="img/{{Biblioteca.img}}" style="height:100%;width:100%" />
				</div>
				</a>
				
				<div id="HoraBiblio" style="padding:0;text-align:center;margin:0;background:#0066A5;padding:0;color:#EEE;font-size:3vh;padding:1vh;height:6vh">
				<p style="">
				{{InfoHora}} - {{Hora}}
				</p>
				</div>
			</div>
			
			<div id="VoceSabia" >
				<button class="button-small button-Home" ng-click="PreviewCurio()" style="float:left;">
					<i class="ion-chevron-left"></i>
				</button>
				
				<button class="button-small button-Home" ng-click="NextCurio()" style="float:right;">
					<i class="ion-chevron-right"></i>
				</button>
				
				<div style="">
					<p style="">Você Sabia ?</p>
				</div>
			</div>	
			
			<div id="Curiosidade" data-tap-disabled="true" >
				<p style="">{{Curiosidade}}</p>
			</div>
	</ion-content>
</ion-view>