<ion-view view-title="Livros Alugados">
	<ion-nav-bar class="bar-positive bar-azulUFC">
		<ion-nav-buttons side="left">
	    	<button menu-toggle="left" class="button button-icon icon mdi mdi-menu"></button>
	  	</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="has-header">
		<div class="aviso" ng-show="livros.length == 0" scroll="false">
			<h2>Nenhum livro alugado.</h2>
		</div>
		<ion-list ng-show="livros.length > 0">
			<ion-item ng-repeat="liv in livros">
				<div>
					<h2 style="font-size: 24px;"><strong>{{liv.nome_livro}}</strong></h2>
					<button class="button button-icon icon mdi mdi-delete delete" ng-click="removeLivro(liv)"></button>
					<p><strong>Data de devolução: </strong>{{liv.data_devolucao | date: 'dd/MM/yyyy'}}</p>
					<p><strong>Biblioteca: </strong> {{liv.biblioteca_livro}}</p>
				</div>
			</ion-item>
		</ion-list>
		
	</ion-content>
	<div class="float-button">
		<a href="#/app/addLivrosAlugados">
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
				<i class="material-icons">add</i>
			</button>
		</a>
	</div>
</ion-view>