<ion-side-menus enable-menu-with-back-views="true" ng-controller="sideMenuCtrl">

  <ion-side-menu-content>
  <!-- Main content, usually <ion-nav-view> -->
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-content >
      <ion-list>
        <ion-item menu-close href="#/app/home">
          <i ng-class="{'ion-android-home': isAndroid, 'ion-ios-home': isIOS}"></i> Home
        </ion-item>
        <ion-item menu-close href="#/app/busca">
          <i class="ion-android-search"></i> Buscar Livros
        </ion-item>
        <ion-item menu-close>
           <i class="ion-search"></i>Buscar Bibliotecas
        </ion-item>
        <ion-item menu-close>
          Guia de Codificação
        </ion-item>
        <ion-item menu-close href="#/app/livrosAlugados">
          Livros Alugados
        </ion-item>
        <ion-item menu-close>
          <i class="ion-android-star-outline"></i> Favoritos
        </ion-item>
        <ion-item menu-close>
          Redes Socias
        </ion-item>
        <ion-item menu-close>
          <i class="ion-help"></i>Ajuda
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>