<ion-side-menus enable-menu-with-back-views="true" ng-controller="sideMenuCtrl">

  <ion-side-menu-content>
  <!-- Main content, usually <ion-nav-view> -->
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left" >
    <header class="bar bar-header bar-stable ufcLogo">
      <img class="title" src="img/brasao1_horizontal_cor_72dpi.png">
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item menu-close href="#/app/home">
          <i ng-class="{'mdi': isAndroid, 'mdi-home': isAndroid, 'ion-ios-home': isIOS}"></i><span class="text-vertical-aligned-menu">Home</span>
        </ion-item>
        <ion-item menu-close href="#/app/busca/false">
          <i class="mdi mdi-magnify"></i><span class="text-vertical-aligned-menu">Pesquisar Livros</span>
        </ion-item>  
        <ion-item menu-close href="#/app/Bibliotecas">
           <i class="mdi mdi-city"></i><span class="text-vertical-aligned-menu">Bibliotecas</span>
        </ion-item>
        </ion-item>
        <ion-item menu-close href="#/app/livrosAlugados">
          <i class="mdi mdi-clipboard-text"></i><span class="text-vertical-aligned-menu">Livros Alugados</span>
        </ion-item>
        <ion-item menu-close href="#/app/codificacao">
          <i class="mdi mdi-file-document"></i><span class="text-vertical-aligned-menu">Guia de Codificação</span>
        </ion-item>
        <ion-item menu-close href="#/app/sobre">
          <i class="mdi mdi-information"></i><span class="text-vertical-aligned-menu">Sobre</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>