/* Empty. Add your own CSS if you like */
.sideMenu a{
	text-decoration: none;
	color: black;
	margin-left: 5%; 
}

body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.header .col {
    background-color:lightgrey;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}

.aviso {
	width: 100%;
	height: 100px;
}

.aviso h2{
	margin-top: 20px;
	padding-left: 10px;
	color: #9E9E9E;
}

.codificacao{
	width: 100%;
	background-color: white;
}

.codificacao .codificacao-img{
	max-width: 100%;
	height: auto;
}

/*Float Action Button */
.float-button {
    bottom: 32px;
    right: 32px;
    position: fixed;
    z-index: 9999;
  }

.float-button .mdl-button--colored{
  background-color: #004B82 !important;
}

button.button-size-busca:before{
  font-size: 23px !important;
}

button.centralizar{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mdl-button--accent{
  background-color: #004B82 !important;
}

.delete{
	float: right;
	display: block !important;
	fill: #999999;
	color: #999999;
}

.ion-android-arrow-back{
	margin-left:3vw;
	border-style:none;
}
.ion-android-arrow-back.ion-loading-c{
	font-size: 7vw;
}
.item-Biblio{
	color:inherit;
	text-decoration:none;
}

.item-Biblio:visited{
	color:inherit;
	text-decoration:none;
}

.item-Biblio div{
	padding-top:0.11in;
	padding-bottom:0.11in;
	padding-left:0.22in;
	padding-right:20vw;
	font-family:Confessions bold;
	background-color:#FFF;
	width:100%;
}

.item-Biblio div i{
	margin-right:0.22in;
}

.item-Biblio div:active{
	background-color:#999;
}
.pop-up{
position:absolute;
height:100vh;
width:100vw;
border-style:none;
}
.pop-up div#back{
position:absolute;
height:100%;
width:100%;
background:#000;
border-style:none;
opacity:0.4;
}
.pop-up div#content{
position:absolute;
width:95vw;
margin-left:2.5vw;
margin-top:2.5vh;
background:#FFF;
border-style:none;
}
.pop-up div#content a#close{
position:absolute;
left:88vw;
z-index:1;
}
.pop-up div#content div.list a{
float:left;
margin-top:0vh;
margin-right:0vh;
z-index:1000;
} 
#Tel {display:none;}
#Tels{display:none;}
#Tel#descrdescr{
background-color:inherit;
}
i.ion-loading-c{
	font-size: 4vh;
}
i.ion-android-cancel.ion-loading-c{
	color:#387ef7;
	font-size: 8vw;
}

.bloco{
	margin: 20px 10px;
	}

.box{
	margin-top: 20px;
}

.title{
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px; 
}


.bar.bar-azulUFC, .bar-azulUFC .bar.bar-positive , .bar-azulUFC .nav-bar-block ion-header-bar{
	/** #2A5DB7; UFC => #004B82*/
	background-color: #004B82;
	border-color: #004B82;
	background-image: linear-gradient(0deg, #004B82, #004B82 50%, transparent 50%);
    }
}