/* Empty. Add your own CSS if you like */
.sideMenu a{
	text-decoration: none;
	color: black;
	margin-left: 5%; 
}

body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.header .col {
    background-color:lightgrey;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}

.aviso {
	width: 100%;
	height: 100px;
}

.aviso h2{
	margin-top: 20px;
	padding-left: 10px;
	color: #9E9E9E;
}

table thead{
	background-color: lightgrey;
}
table, th, td{
	border: solid 1px grey;
	padding: 3px;
}
table tbody tr td{
	text-align: center;
}

.codificacao{
	width: 100%;
	background-color: #FFD177;
}

.codificacao .codificacao-img{
	max-width: 100%;
	height: auto;
}

.float-button {
  border-radius: 50%;
  min-width: 42px;
  max-width: 224px;
  padding: 30px;
  font-size: 40px;
  background: #1565c0;
  position: fixed;
  bottom: 32px; /* Adjust to where you want it */
  right: 32px; /* Adjust to where you want it */
  z-index: 9999;
}
.float-button .height_fix {
  margin-top: 100%;
}
.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px; /* Note, this must be half the font size */
  color: white;
}

button.button-size-busca:before{
  font-size: 23px !important;
}

button.centralizar{
  display: block;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}
.item-Biblio{
	color:inherit;
	text-decoration:none;
}

.item-Biblio:visited{
	color:inherit;
	text-decoration:none;
}

.item-Biblio div{
	padding-top:0.11in;
	padding-bottom:0.11in;
	padding-left:0.22in;
	padding-right:20vw;
	font-family:Confessions bold;
	background-color:#FFF;
	width:100%;
}

.item-Biblio div i{
	margin-right:0.22in;
}

.item-Biblio div:active{
	background-color:#999;
}

