/* Empty. Add your own CSS if you like */
.sideMenu a{
	text-decoration: none;
	color: black;
	margin-left: 5%; 
}

body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
/**
.header .col {
    background-color:lightgrey;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}
*/

.color-icon{
	fill: #999999;
	color: #999999;
}

button.button-size-busca:before{
  font-size: 23px !important;
}

.text-vertical-aligned-menu{
	vertical-align: 10%;
	margin-left: 20px;
	color: #222 !important;
}

.empty-screen {
	width: 100%;
}

.empty-screen img{
	margin-top: -29.5%; /*-105px */
	/*margin-left: -20px;*/
	max-width: 100%;
	height: auto;
}

.codificacao{
	width: 100%;
	background-color: white;
}

.codificacao .codificacao-img{
	max-width: 100%;
	height: auto;
}

/*Float Action Button */
.float-button {
    bottom: 32px;
    right: 32px;
    position: fixed;
    z-index: 9999;

  }

.float-button .mdl-button--colored{
  background-color: #004B82 !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

button.centralizar{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mdl-button--accent{
  background-color: #004B82 !important;
}

.delete{
	float: right;
	display: block !important;
}


.bloco{
	padding: 10px;
	}
.bloco p{
	color: #222;
}
.box{
	margin-top: 20px;
}

.title{
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px; 
}


.bar.bar-azulUFC, .bar-azulUFC .bar.bar-positive , .bar-azulUFC .nav-bar-block ion-header-bar{
	/** #2A5DB7; UFC => #004B82*/
	background-color: #004B82;
	border-color: #004B82;
	background-image: linear-gradient(0deg, #004B82, #004B82 50%, transparent 50%);
  top: 0;
  border-top-width: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

.list div.item{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px !important;
}

.list .item h2{
  white-space: normal;
  line-height: 25px;
  margin-bottom: 20px;
}
.list .item .infoLivro{
  white-space: normal;
  line-height: 25px;
  margin-bottom: 20px;
}

.logoHeader img{
  width: 65%;
}

.ufcLogo{
  margin-left: 5px;
  margin-top: 5px;
}

.ufcLogo img{
  padding: 3px;
}

.text-margin{
  margin-left: 5vw;
  margin-top: 3vw;
  width: 90vw;
  text-align: justify;
}

.text-margin p {
  font-weight: 400;
}

#cc{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#licenca{
  text-align: center;
}

.codificacaoIcon{
  width: 39px;
  height: 39px;
  margin-left: -8px;
  margin-right: -10px;
}

.glyphter{
  font-family: glyphter !important;
  font-size: 24px;
  vertical-align: -20%;
  margin-left: 2px;
  margin-right: -2px;
}

.capaInfo{
  width: 85%; 
  margin-bottom: 5vh;
  display: block;
  margin-right: auto;
  margin-left: auto;
}